body
{
    font-family: 'Open Sans';
    font-size: 0;
}
main
{
    font-size: 13px;
    font-size: 0;

    display: inline-block;
    overflow: hidden;

    width: 10%;
    width: 90%;
    margin-top: -14px;
    padding-left: 10%;

    vertical-align: top;
}

header
{
    font-weight: 400;

    position: fixed;
    z-index: 9;
    top: 0;
    left: 10%;

    overflow: hidden;

    width: 90%;
    height: 40px;
    padding-left: 10px;

    border-bottom: 10px solid #ff6437;
    background: #ffd761;
}
.popup
{
    font-size: 13px;

    z-index: 10;

    display: none;

    padding: 10px;

    cursor: default;
    p
    {
        margin: 0;
    }
    &-close
    {
        display: none;
        &_btn
        {
            font-size: 30px;
            line-height: 30px;

            position: absolute;
            top: 10px;
            right: 10px;

            width: 30px;
            height: 30px;

            cursor: pointer;
            text-align: center;

            color: #ff6437;
        }
    }
}
.btn
{
    position: absolute;

    display: inline-block;

    width: 32px;
    height: 32px;
    padding: 10px;

    cursor: pointer;

    opacity: .5;
    &:hover
    {
        opacity: .7;
    }
    &.departure
    {
        background: url(../img/up.png) no-repeat 50%;
    }
    &.arrival
    {
        top: 52px;

        background: url(../img/down.png) no-repeat 50%;
    }
    &.none
    {
        font-size: 40px;
        line-height: 32px;

        top: 104px;

        color: #fe42ad;
    }
}
.btnTypeFlight:checked + label
{
    opacity: .7;
}
.btnTypeFlight
{
    display: none;
}
#departure:checked ~ main .flight-wrap.arrival
{
    display: none;
}
#arrival:checked ~ main .flight-wrap.departure
{
    display: none;
}
#departure:checked ~ main .flight-wrap.departure,
#arrival:checked ~ main .flight-wrap.arrival
{
    &:nth-of-type(even)
    {
        &:after
        {
            background: #a7f7f0 !important;
        }
    }
    &:nth-of-type(odd)
    {
        &:after
        {
            background: #51f1e3 !important;
        }
    }
}
#none:checked ~ main .flight-wrap.departure,
#none:checked ~ main .flight-wrap.arrival
{
    display: block;
}

input[type='radio']:checked + label + .popup
{
    position: fixed;
    top: 50%;
    left: 50%;

    display: inline-block;

    width: 300px;
    height: 150px;
    margin-top: -75px;
    margin-left: -150px;

    background: #ffd761;
}
.flights
{
    &-header
    {
        font-size: 13px;

        display: inline-block;

        width: 100%/8;

        text-align: center;
        vertical-align: middle;
    }
}
.flight
{
    display: inline-block;

    width: 100%;
    &-wrap
    {
        font-size: 0;

        position: relative;

        border-left: 10px solid #ff6437;
        input
        {
            display: none;
        }
        &:after
        {
            position: absolute;
            z-index: -2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            content: '';
        }
        &:nth-child(even)
        {
            &:after
            {
                background: #a7f7f0;
            }
        }
        &:nth-child(odd)
        {
            &:after
            {
                background: #51f1e3;
            }
        }
        &:nth-of-type(1)
        {
            margin-top: 64px;
        }
        &:hover
        {
            background: #ffd761;
        }
    }
    &-info
    {
        font-size: 13px;
        font-weight: 300;

        position: relative;

        display: inline-block;

        width: 100%/8;
        height: 30px;
        padding: 10px 0;

        text-align: center;
        vertical-align: middle;
        &_long
        {
            vertical-align: top;
        }
        img
        {
            width: 100%;
            max-width: 32px;
        }
        &:hover::after
        {
            position: absolute;
            z-index: -1;
            top: -5000px;
            right: 0;
            left: 0;

            height: 10000px;

            content: '';

            background-color: #ffd761;
        }
    }
}
@media screen and (min-width: 1000px)
{
    .flight-info_long
    {
        display: inline;
    }
    .flight-info_short
    {
        display: none;
    }
    input[type='radio']:checked + label + .popup
    {
        display: none;
    }
}
@media screen and (max-width: 1000px)
{
    .flight-info_long
    {
        display: inline;
    }
    .flight-wrap
    {
        cursor: pointer;
        .flight
        {
            cursor: pointer;
        }
    }
    .flight-info_short
    {
        display: none;
    }
    input[type='radio']:checked + label + .popup
    {
        display: inline-block;
    }
}
@media screen and (max-width: 940px)
{
    .company
    {
        width: 10.5%;
        .flight-info_long
        {
            display: none;
        }
        .flight-info_short
        {
            display: inline;
        }
    }
    .airport,
    .aircraft
    {
        width: 13.5%;
    }
    .flights-header
    {
        line-height: 40px;

        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width: 850px)
{
    .airport
    {
        .flight-info_long
        {
            display: none;
        }
        .flight-info_short
        {
            display: inline;
        }
    }
}
@media screen and (max-width: 785px)
{
    .aircraft
    {
        .flight-info_long
        {
            display: none;
        }
        .flight-info_short
        {
            display: inline;
        }
    }
}
@media screen and (max-width: 750px)
{
    .type
    {
        width: 5%;
        .flight-info_long
        {
            display: none;
        }
        .flight-info_short
        {
            display: inline;
        }
    }
    .status
    {
        width: 20%;
    }
}
@media screen and (max-width: 700px)
{
    .comment
    {
        display: none;
    }
    .number
    {
        width: 15%;
    }
    .status
    {
        width: 30%;
    }
}
